table {
    margin-left: auto;
    margin-right: auto;
}

td {
    padding: 10px;
    border: 1px solid rgb(255, 255, 255);
    border-collapse: collapse;
}

body {
    text-align: center;
    color: whitesmoke;
    background-color: rgb(28, 27, 27);
    font-size: large;
}

button {
    color: white;
    font-weight: 700;
    background-color: rgb(28, 27, 27);
    font-size: 1em;
    border-radius: 1em;
    border: 2px solid rgb(255, 255, 255);
}

.buttonInvoice {
    color: rgb(255, 255, 255);
    font-weight: 700;
    background-color: rgb(28, 27, 27);
    font-size: 1.6em;
    border-radius: 1em;
    border: 3px solid rgb(255, 255, 255);
    font-style: normal;
}

.buttonHome {
    color: rgb(255, 255, 255);
    font-weight: 700;
    background-color: rgb(28, 27, 27);
    font-size: 1.6em;
    border-radius: 1em;
    border: 3px solid rgb(255, 255, 255);
    font-style: normal;
}

.buttonInvoice:hover {
    color: rgb(3, 220, 228);
}

.routerInvoice {
    color: white;
    text-decoration:none;
}

.routerInvoice:hover {
    color: rgb(3, 220,228);
}

.routerHome {
    color: white;
    text-decoration:none;
}

.routerHome:hover {
    color: rgb(3, 220,228);
}


h2 {
    font-weight: 1000;
    font-size: 1.9em;
    text-decoration: underline;
}

.facturesDirectory {
    font-size: 1em;
}